Repository dasol-seo/You-Dont-Know-JS, pull requests merged in 2019-05, with the labels that each got.

#5 preface.md: translate contents
  preface.md
Labels: translate

#2 README.md: translate contents
  README.md
Labels: translate

#6 README.md-Titles: update contents
  README.md
Labels: bug

#15 README.md: Fix typo
  README.md
Labels: update

#4 apA.md: Appendix A
  up & going/apA.md
Labels: series/up&going, stage/review-done, translate

#9 Up and going ch1.md: Blocks~Loops
  up & going/ch1.md
Labels: series/up&going, stage/review-requesting, translate

#13 ch1.md: code ~ try it your self
  up & going/ch1.md
Labels: series/up&going, stage/done, translate

#10 upAndGoing_ch1.md-codeComments_variables: translate contents
  up & going/ch1.md
Labels: series/up&going, stage/review-requesting, translate

#11 Up and going ch1.md: Operators Values ~ Types
  up & going/ch1.md
Labels: series/up&going, stage/reviewing, translate

#24 chore: update github pr template
  .github/pull_request_template.md
Labels: stage/review-requesting, update

#18 Up and going ch2.md: Objects ~ Arrays
  up & going/ch2.md
Labels: series/up&going, stage/review-requesting, stage/reviewing

#19 upAndGoing_ch2.md-Functions ~ Coercion: translate contents
  up & going/ch2.md
Labels: series/up&going, stage/review-requesting, translate

#23 ch2: truthy&falsy, inequality
  up & going/ch2.md
Labels: series/up&going, stage/review-requesting, translate
